body{ 
	background-color: black;
}
main {
	width: 600px;
	background-color: white;
	margin: auto;
}
 h1 {
	font-family: 'pinyon script' , cursive;
	background-color: red;
	text-align: center;
	margin: 0;
	color: white;
	padding: 5px;
}
.bug{
	width: 600px;
	height: 300px;
	border-bottom: 3px solid black;
	background-image: url(../images/burger.jpg);
	background-size: cover;
}
/*.bug img {
	width: 100%;
	height: 100%;
	margin: auto;
	border-bottom: 3px solid black;
}*/
.bre {
	background-color: white;
	width: 600px;
	margin: auto;
}
.bre h2 {
	font-family: 'pinyon script' , cursive;
	font-size: 30px; 
	text-align: center;
}
table {
	width: 560px;
	border-collapse: collapse;
}
 
.box{
margin-left: 20px;
}
.box table th,
.box table td {
	border: 1px solid black;
}
.box tr {
	height: 35px;
}


.copy {
	background-color: red;
	color: white;
	width: 600px;
	text-align: center;
}
h4{
	padding: 15px;
}
tr :last-child {
	color: red;
	text-align: center;
	width: 110px;
	font-weight: bold;
}

 .nth {
	background-color: black;
	color: white;
	text-align: center;
}
.nth td{
	color: white;
}
tr :nth-child(2){
	padding-left: 10px;
	font-style: italic;
	font-weight: bold;
}
tr :first-child{
	width: 110px;
	font-weight: lighter;
	font-style: italic;
}